/*The color for a */
.greenlink a{color:#339966;}
.whitelink a{color:#ffffff;}

/*custom from bootstrap */
.navbar-custom { background-color:#339966; color:#ffffff; border-radius:0; }
.navbar-custom .navbar-nav > li > a { color:#fff; padding-left:20px; padding-right:20px; }
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus { color: #ffffff; background-color:transparent; }
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: #5cb85c; } 
.navbar-custom .navbar-brand { color:#eeeeee; }
.navbar-custom .navbar-toggle { background-color:#eeeeee; }
.navbar-custom .icon-bar { background-color:#5cb85c;}
.pagination > li > a{color: #339966;}
.pagination > li > a:hover{color: #FFF;}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus,
.pagination>.active>span:focus{background-color: #339966; border-color: #339966;}
.navright{text-align: right;}
.navcenter{text-align: center;}
.panel-default{border-color: #339966;}
.panel-default >.panel-heading {background-color:#339966; color:#fff;}
.panel-orange{border-color: #ffcc99;}
.panel-orange >.panel-heading {background-color:#ffcc99; color:#fff;}
.badge-green {background-color:#339966;}
.badge-orange{background-color:#ffcc99;}
.list-unstyled li{margin:8px 5px;}

/* index topics list style*/
.topics-li{margin:40px auto; border-top:solid 1px #339966; width:100%; overflow: hidden;}
.topics-like{background:#339966; width:70px; height:80px; text-align:center; padding-top:10px; float:left;}
.topics-info{float:left; width:85%; margin-top: -10px; margin-left:20px;}
.topics-info p{background:#f0f0f0;}
.topics-info span{float:right;}

