<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/style.css">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title>{{ site.name }}</title>
</head>
<body>
		<!-- 网站导航开始  banner and menu-->
		<div class="top">
			<hr/>
			<div id="top_content">
				<div id="userbar">
					<ul>
						<li>
							登录/注册
							<img src="img/userbar_flag.png" />
						</li>
					</ul>
				</div>
				<div id="menu">
					<ul>
						<li><img src="img/logo.png"></li>
						<li>寻找老伙伴</li>
						<li>发现小组</li>
						<li>老兵圈</li>
					</ul>
					<input type="text" value="话题、热门"/>
					<a href="#">
						<!--<img src="img/search.png"/>-->
					</a>
				</div>
			</div>
		</div>
		<!--网站导航结束-->

		<!--网站内容开始  main page -->
		<div class="main">
			<!--左侧列表页开始  information list-->
			<div class="left">
				<h2>话题精选</h2>
				<ul>
					<li>
						<div class="simpleshow" >
							<div class="showstyle">
								<img src="img/star.png">
								<em>3764</em>
							</div>
							<div class="showcontent">
								<a class="haedline" href="#"><h3>你新兵连的时候是怎么抽烟的？</h3></a>
								<p>Apple 自 9 月 19 日推出全新 iPhone 6 和 iPhone 6 Plus 后，随后三天内的销量即已超过一千万部，创下新纪录。两款 iPhone 目前在以下国家和地区有售：美国、澳大利亚、加拿大、法国、德国、香港、日本、波多黎各、新加波和英国，并将于 9 月 26 日面向其他 20 多个国家和地区发售。</p>
								<a href="#">安明哲</a>发布于<a href="#">新兵的日子</a><em>2014-10-26 10:10</em>
							</div>
						</div>
					</li>
					<li>
						<div class="simpleshow" >
							<div class="showstyle">
								<img src="img/star.png">
								<em>3764</em>
							</div>
							<div class="showcontent">
								<a class="haedline" href="#"><h3>你新兵连的时候是怎么抽烟的？</h3></a>
								<p>Apple 自 9 月 19 日推出全新 iPhone 6 和 iPhone 6 Plus 后，随后三天内的销量即已超过一千万部，创下新纪录。两款 iPhone 目前在以下国家和地区有售：美国、澳大利亚、加拿大、法国、德国、香港、日本、波多黎各、新加波和英国，并将于 9 月 26 日面向其他 20 多个国家和地区发售。</p>
								<a href="#">安明哲</a>发布于<a href="#">新兵的日子</a><em>2014-10-26 10:10</em>
							</div>
						</div>
					</li>
					<li>
						<div class="simpleshow" >
							<div class="showstyle">
								<img src="img/star.png">
								<em>3764</em>
							</div>
							<div class="showcontent">
								<a class="haedline" href="#"><h3>你新兵连的时候是怎么抽烟的？</h3></a>
								<p>Apple 自 9 月 19 日推出全新 iPhone 6 和 iPhone 6 Plus 后，随后三天内的销量即已超过一千万部，创下新纪录。两款 iPhone 目前在以下国家和地区有售：美国、澳大利亚、加拿大、法国、德国、香港、日本、波多黎各、新加波和英国，并将于 9 月 26 日面向其他 20 多个国家和地区发售。</p>
								<a href="#">安明哲</a>发布于<a href="#">新兵的日子</a><em>2014-10-26 10:10</em>
							</div>
						</div>
					</li>
					<li>
						<div class="simpleshow" >
							<div class="showstyle">
								<img src="img/star.png">
								<em>3764</em>
							</div>
							<div class="showcontent">
								<a class="haedline" href="#"><h3>你新兵连的时候是怎么抽烟的？</h3></a>
								<p>Apple 自 9 月 19 日推出全新 iPhone 6 和 iPhone 6 Plus 后，随后三天内的销量即已超过一千万部，创下新纪录。两款 iPhone 目前在以下国家和地区有售：美国、澳大利亚、加拿大、法国、德国、香港、日本、波多黎各、新加波和英国，并将于 9 月 26 日面向其他 20 多个国家和地区发售。</p>
								<a href="#">安明哲</a>发布于<a href="#">新兵的日子</a><em>2014-10-26 10:10</em>
							</div>
						</div>
					</li>
					<li>
						<div class="simpleshow" >
							<div class="showstyle">
								<img src="img/star.png">
								<em>3764</em>
							</div>
							<div class="showcontent">
								<a class="haedline" href="#"><h3>你新兵连的时候是怎么抽烟的？</h3></a>
								<p>Apple 自 9 月 19 日推出全新 iPhone 6 和 iPhone 6 Plus 后，随后三天内的销量即已超过一千万部，创下新纪录。两款 iPhone 目前在以下国家和地区有售：美国、澳大利亚、加拿大、法国、德国、香港、日本、波多黎各、新加波和英国，并将于 9 月 26 日面向其他 20 多个国家和地区发售。</p>
								<a href="#">安明哲</a>发布于<a href="#">新兵的日子</a><em>2014-10-26 10:10</em>
							</div>
						</div>
					</li>
					<li>
						<div class="simpleshow" >
							<div class="showstyle">
								<img src="img/star.png">
								<em>3764</em>
							</div>
							<div class="showcontent">
								<a class="haedline" href="#"><h3>你新兵连的时候是怎么抽烟的？</h3></a>
								<p>Apple 自 9 月 19 日推出全新 iPhone 6 和 iPhone 6 Plus 后，随后三天内的销量即已超过一千万部，创下新纪录。两款 iPhone 目前在以下国家和地区有售：美国、澳大利亚、加拿大、法国、德国、香港、日本、波多黎各、新加波和英国，并将于 9 月 26 日面向其他 20 多个国家和地区发售。</p>
								<a href="#">安明哲</a>发布于<a href="#">新兵的日子</a><em>2014-10-26 10:10</em>
							</div>
						</div>
					</li>
					<li>
						<div class="simpleshow" >
							<div class="showstyle">
								<img src="img/star.png">
								<em>3764</em>
							</div>
							<div class="showcontent">
								<a class="haedline" href="#"><h3>你新兵连的时候是怎么抽烟的？</h3></a>
								<p>Apple 自 9 月 19 日推出全新 iPhone 6 和 iPhone 6 Plus 后，随后三天内的销量即已超过一千万部，创下新纪录。两款 iPhone 目前在以下国家和地区有售：美国、澳大利亚、加拿大、法国、德国、香港、日本、波多黎各、新加波和英国，并将于 9 月 26 日面向其他 20 多个国家和地区发售。</p>
								<a href="#">安明哲</a>发布于<a href="#">新兵的日子</a><em>2014-10-26 10:10</em>
							</div>
						</div>
					</li>
					<li>
						<div class="simpleshow" >
							<div class="showstyle">
								<img src="img/star.png">
								<em>3764</em>
							</div>
							<div class="showcontent">
								<a class="haedline" href="#"><h3>你新兵连的时候是怎么抽烟的？</h3></a>
								<p>Apple 自 9 月 19 日推出全新 iPhone 6 和 iPhone 6 Plus 后，随后三天内的销量即已超过一千万部，创下新纪录。两款 iPhone 目前在以下国家和地区有售：美国、澳大利亚、加拿大、法国、德国、香港、日本、波多黎各、新加波和英国，并将于 9 月 26 日面向其他 20 多个国家和地区发售。</p>
								<a href="#">安明哲</a>发布于<a href="#">新兵的日子</a><em>2014-10-26 10:10</em>
							</div>
						</div>
					</li>
					<li>
						<div class="simpleshow" >
							<div class="showstyle">
								<img src="img/star.png">
								<em>3764</em>
							</div>
							<div class="showcontent">
								<a class="haedline" href="#"><h3>你新兵连的时候是怎么抽烟的？</h3></a>
								<p>Apple 自 9 月 19 日推出全新 iPhone 6 和 iPhone 6 Plus 后，随后三天内的销量即已超过一千万部，创下新纪录。两款 iPhone 目前在以下国家和地区有售：美国、澳大利亚、加拿大、法国、德国、香港、日本、波多黎各、新加波和英国，并将于 9 月 26 日面向其他 20 多个国家和地区发售。</p>
								<a href="#">安明哲</a>发布于<a href="#">新兵的日子</a><em>2014-10-26 10:10</em>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!--左侧列表页结束-->

			<!--右侧推荐信息 right some modle-->
			<div class="right">
				<div class="right_modle ">
					<h4>新加入的战友</h4>
					<ul>
						<li><strong>・</strong><a>小鬼头</a>云南陆军 <strong>1999</strong>年入伍 </li>
						<li><strong>・</strong><a>王浩然</a>云南陆军 <strong>2013</strong>年入伍 </li>
						<li><strong>・</strong><a>超级大坏蛋</a>云南陆军 <strong>1999</strong>年入伍 </li>
						<li><strong>・</strong><a>小鬼头</a>云南陆军 <strong>1999</strong>年入伍 </li>
						<li><strong>・</strong><a>王浩然</a>云南陆军 <strong>2013</strong>年入伍 </li>
						<li><strong>・</strong><a>超级大坏蛋</a>云南陆军 <strong>1999</strong>年入伍 </li>
						<li><strong>・</strong><a>超级大坏蛋</a>云南陆军 <strong>1999</strong>年入伍 </li>
					</ul>
				</div>
				<div class="right_modle orange">
					<h4>战友最爱话题</h4>
					<ul>
						<li><a>新兵的故事</a> x 29893</li>
						<li><a>无悔青春</a> x 10241</li>
						<li><a>关爱抗战老兵</a> x 12344</li>
						<li><a>解放军</a> x 1024</li>
						<li><a>中国武警</a> x 1024</li>
						<li><a>寻找最美兵妹纸</a> x 1024</li>
						<li><a>中国武警</a> x 1024</li>
					</ul>
				</div>
				<div class="right_modle">
					<h4>老兵的明信片</h4>
					<ul>
						<li>小鬼头收到了云南陆军的<strong>明信片</strong></li>
						<li>请叫我大侠收到了是是大坏蛋的<strong>明信片</strong></li>
						<li>真的可以吗收到了我才不会那样<strong>明信片</strong></li>
						<li>兵魂收到了安明哲的<strong>明信片</strong></li>
						<li>真的可以吗收到了我才不会那样<strong>明信片</strong></li>
						<li>兵魂收到了安明哲的<strong>明信片</strong></li>
						<li>真的可以吗收到了我才不会那样<strong>明信片</strong></li>
					</ul>
				</div>

				<img src="img/ad.png">
				
			</div>

		</div>
		<!--网站内容结束-->
</body>
</html>
