<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<title></title>
</head>
<body>
<div class="top">
	<div id="top_content">
		<div id="menu">
			<ul>
				<li><img src="img/logo.png"></li>
				<li><a href="#">寻找老伙伴</a></li>
				<li><a href="#">发现小组</a></li>
				<li><a href="#">老兵圈</a></li>
			</ul>
		</div>
		<div id="searchbar">
			<input type="text" value="话题、新鲜事"/>
		</div>
	</div>
</div>

<div class="main">
	<div class="left">
		<ul>
			<li>
				<span id="like">
					<img src="img/star.png"/>
					18937
				</span>
				<div id="content">
					<h3><a href="#">军旅生涯中对你影响最大的事情？</a></h3>
					<p>
					大多数人最刻骨铭心的可能是新兵连吧，可是我最难忘的的事情是在我即将退伍的时候参加的一次演习中，那一次我和死亡擦肩而过，我瞬间明白了军人的意义!
					</p>
					<a href="#">闲云</a>发布于<a href="#">当兵的事</a>小组
					<em>2014-10-28</em>
				</div>
			</li>
		</ul>
	</div>
	<div class="right">
		<div class="right_modle">
			<h4>最新加入的老兵</h4>
			<ul>
				<li>
					<a href="#">闲云</a>
					云南昭通	
					<strong>1999</strong>年入伍
				</li>
			</ul>
		</div>
	</div>
</div>

</body>
</html>
