{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title>OLD SOLDIER</title>
</head>
<body>
		<!-- 网站导航开始  banner and menu-->
		<div class="top">
			<hr/>
			<div id="top_content">
				<div id="userbar">
					<ul>
						<li>
							登录/注册
							<img src="/static/img/userbar_flag.png" />
						</li>
					</ul>
				</div>
				<div id="menu">
					<ul>
						<li><img src="/static/img/logo.png"></li>
						<li>寻找老伙伴</li>
						<li>发现小组</li>
						<li>老兵圈</li>
					</ul>
					<input type="text" value="话题、热门"/>
					<a href="#">
						<!--<img src="/static/img/search.png"/>-->
					</a>
				</div>
			</div>
		</div>
		<!--网站导航结束-->

		<!--网站内容开始  main page -->
		<div class="main">
			<!--左侧列表页开始  information list-->
			<div class="left">
				<h2>话题精选</h2>
				<ul>
					{% for topics in topics_list %}
					<li>
						<div class="simpleshow" >
							<div class="showstyle">
								<img src="/static/img/star.png">
								<br/>
								<em>{{ topics.likeduser.count}}</em>
							</div>
							<div class="showcontent">
								<a class="haedline" href="#">
									<h3>{{ topics.headline }}</h3>
								</a>
								<p>{{topics.description}}</p>
								<a href="#">{{ topics.creator }}</a>发布于<a href="#">{{ topics.group }}</a><em>{{ topics.createdate }}</em>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			<!--左侧列表页结束-->

			<!--右侧推荐信息 right some modle-->
			<div class="right">
				<div class="right_modle ">
					<h4>新加入的战友</h4>
					<ul>
						{% for user in recent_user_list %}
						<li><strong>・</strong><a>{{ user.username }}</a>{{ user.soldiercity }} <strong>{{ user.joindate|date:'Y' }}</strong>年入伍 </li>
						{% endfor %}
					</ul>
				</div>
				<div class="right_modle orange">
					<h4>战友最爱话题</h4>
					<ul>
						<li><a>新兵的故事</a> x 29893</li>
						<li><a>无悔青春</a> x 10241</li>
						<li><a>关爱抗战老兵</a> x 12344</li>
						<li><a>解放军</a> x 1024</li>
						<li><a>中国武警</a> x 1024</li>
						<li><a>寻找最美兵妹纸</a> x 1024</li>
						<li><a>中国武警</a> x 1024</li>
					</ul>
				</div>
				<div class="right_modle">
					<h4>老兵的明信片</h4>
					<ul>
						<li>小鬼头收到了云南陆军的<strong>明信片</strong></li>
						<li>请叫我大侠收到了是是大坏蛋的<strong>明信片</strong></li>
						<li>真的可以吗收到了我才不会那样<strong>明信片</strong></li>
						<li>兵魂收到了安明哲的<strong>明信片</strong></li>
						<li>真的可以吗收到了我才不会那样<strong>明信片</strong></li>
						<li>兵魂收到了安明哲的<strong>明信片</strong></li>
						<li>真的可以吗收到了我才不会那样<strong>明信片</strong></li>
					</ul>
				</div>

				<img src="/static/img/ad.png">
				
			</div>

		</div>
		<!--网站内容结束-->
</body>
</html>
