{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="utf-8">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href='{% static 'css/style.css' %}'>
	<!-- endbootsrap -->
	<title>OLD SOLDIER</title>
</head>
<body>
<div class="row" style="margin-top:200px;">
	<div class="col-md-4"></div>
	<div class="col-md-4">
	<div class="panel panel-default">
	<div class="panel-heading">
	登录
	</div>
	<div class="panel-body">
	{% if form.errors %}
	<div class="alert alert-danger" role="alert">请检查您的用户名密码</div>
	{% endif %}
	<form role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
	{% csrf_token %}
	<div class="form-group">
		<input type="text" name="username" class="form-control" id="login-username" placeholder="用户邮箱">
	</div>
	<div class="form-group">
		<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="密码">
	</div>
		<input type="checkbox"> <label>记住我一个星期</label>
	<div class="form-group">
		<button type="submit" class="btn btn-success btn-block">登陆</button>
		<input type="hidden" name="next" value="/osb" />
	</div>
	</div>
	</div>
	</form>
	<div class="col-md-4"></div>
</div>
</div>
</body>
</html>
